.mega-sena {
  background-color: #6BEFA3;
}

.lotofacil {
  background-color: #DD7AC6;
}

.quina {
  background-color: #8666EF;
}

.lotomania {
 background-color: #FFAB64; 
}

.timemania {
  background-color: #5AAD7D;
}

.dia-de-sorte {
  background-color: #BFAF83;
}

.app {
  color: white;
}

@media screen and (max-width: 900px) {
  .app {
    height: 100vh;
    width: 100vw;
  }

  .functional-content {
    height: 40%;
  }

  .result-content {
    height: calc(100% - 40%);
  }
  
}

@media screen and (min-width: 900px) {
  .app {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .functional-content, .result-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}