@media screen and (max-width: 900px) {
  .select-lotery {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    position: relative;
  }
  
  .select-lotery select {
    padding: 10px 40px 10px 10px;
      border-radius: 10px;
      border: none;
      outline: none;
  }
}